{{#each items}}
<a class="test-person-item" href="#/{{id}}" id="{{../idPrefix}}{{id}}">
    <span class="test-person-item-name">{{first_name}}</span>
    <span class="test-person-item-age">{{age}}</span>
</a>
{{/each}}